<section id="about" class="about">
  <div class="container-fluid">

      <!-- Primeiro o nome da view (se for nome composto usar underscore)
              como ta no drupal e depois o nome do bloco em advance option da view-->
                 {{ drupal_view('noticia_informes', 'block_noticia_informes') }}
  </div>
</section><!-- End About Section -->



