<section id="team" class="team section-bg">

	<div class="section-title">
		<h2 class="evento-cor-fonte">Eventos</h2>
	</div>

	<div class="container">

			<!-- Primeiro o nome da view (se for nome composto usar underscore)
										              como ta no drupal e depois o nome do bloco em advance option da view-->
			{{ drupal_view('eventos', 'block_eventos') }}

	</div>
</section>
<!-- End Team Section -->
